@using ELearning
@using ELearning.Models
@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var viewModel = Model.Content.As<Form>();
}
<h2>
    @viewModel.Name
</h2>
@viewModel.Introduction
@if (viewModel.Questions.Any())
{
    <form action="/auswertung" method="post">
        <input type="hidden" name="formId" value="@viewModel.Id" />
        @foreach (var question in viewModel.Questions)
        {
            <fieldset>
                <legend>
                    @question.Question
                </legend>
                @{
                    IEnumerable<AbstractAnswer> answers = question.Children.As<AbstractAnswer>();
                    foreach (var answer in answers)
                    {
                        if (question.DocumentTypeAlias == Templates.SingleChoiceQuestionTemplate)
                        {
                            <p>
                                <input type="radio" name="question-@question.Id" value="answer-@answer.Id"/> @answer.Answer
                            </p>
                        }
                        else if (question.DocumentTypeAlias == Templates.MultipleChoiceQuestionTemplate)
                        {
                            <p>
                                <input type="checkbox" name="question-@question.Id" value="answer-@answer.Id"/> @answer.Answer
                            </p>
                        }
                    }
                }
            </fieldset>
        }
        <br/>
        <button type="submit">Fragebogen zur Korrektur geben</button>
    </form>
}