@using ELearning
@inherits UmbracoTemplatePage
@{
	Layout = "Master.cshtml";
    string[] questions = CurrentPage._fragen.Split(',');
    if (questions.Length == 1 && questions[0] == string.Empty)
    {
        questions = new string[0];
    }
}
<h2>
    @CurrentPage.Name
</h2>
<p>
    @CurrentPage._einleitung
</p>

@if (questions.Length > 0)
{
    <form>
        @foreach (var questionId in questions)
        {
            var question = Umbraco.Content(questionId);
            <fieldset>
                <legend>
                    @question._frage
                </legend>
                @{
                    var answers = question.Children;
                    foreach (var answer in answers)
                    {
                        if (question.DocumentTypeId == Templates.SingleChoiceQuestionTemplate)
                        {
                            <p>
                                <input type="radio" name="@questionId" value="@answer.Id" /> @answer._answer
                            </p>
                        }
                        else if (question.DocumentTypeId == Templates.MultipleChoiceQuestionTemplate)
                        {
                            <p>
                                <input type="checkbox" name="@questionId" value="@answer.Id" /> @answer._answer
                            </p>
                        }
                    }
                }
            </fieldset>
        }
        <br/>
        <p>
            <a href="/auswertung-default" style="color: red">Fragebogen zur Korrektur geben</a>
        </p>
    </form>
}