@using ELearning
@using ELearning.Models
@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var viewModel = Model.Content.As<Form>();
}
<h2>
    @viewModel.Name
</h2>
@viewModel.Introduction
@if (viewModel.Questions.Any())
{
    <form action="/auswertung" method="post" id="questionForm">
        <input type="hidden" name="formId" value="@viewModel.Id" />
         @*Iterating all Questions*@ 
        @foreach (var question in viewModel.Questions)
        {
            <fieldset>
                <h5>
                    @question.Question
                </h5>
                @{
                    IEnumerable<AbstractAnswer> answers = question.Children.As<AbstractAnswer>();
                    //Iterating all Answers to the current question
                    foreach (var answer in answers)
                    {
                        //Differentiates whether it's a Radiobutton or a checkbox
                        if (question.DocumentTypeAlias == Templates.SingleChoiceQuestionTemplate)
                        {
                                <input type="radio" name="@question.Id" value="@answer.Id"/> @answer.Answer <br />
                        }
                        else if (question.DocumentTypeAlias == Templates.MultipleChoiceQuestionTemplate)
                        {
                                <input type="checkbox" name="@question.Id" value="@answer.Id"/> @answer.Answer<br />
                        }
                    }
                }
            </fieldset>
            <br />
        }
        <br/>
        <div id="formErrorMessage" role="alert">
            <script src="~/js/Form.js"></script>
        </div>
        <button type="submit" class="btn btn-secondary background-red">Fragebogen zur Korrektur geben</button>
    </form>
}