@using ELearning
@using ELearning.Models
@using Our.Umbraco.Ditto
@inherits UmbracoTemplatePage
@{
    Layout = "Master.cshtml";
    var viewModel = Model.Content.As<Form>();
}

<h2>
    @viewModel.Name
</h2>
@viewModel.Introduction
@if (viewModel.Questions.Any())
{
    <form action="/auswertung" method="post" id="questionForm">
        <input type="hidden" name="formId" value="@viewModel.Id" />
         @*Iterating all Questions*@ 
        @foreach (var question in viewModel.Questions)
        {
            <fieldset>               
                <div class="btn-group" style="display:block;" data-toggle="buttons">
                    <div class="list-group">
                        <div class="list-group-item questHeader">
                            @question.Question
                        </div>
                        @{
                            IEnumerable<AbstractAnswer> answers = question.Children.As<AbstractAnswer>();
                            //Iterating all Answers to the current question
                            foreach (var answer in answers)
                            {
                                //Differentiates whether it's a Radiobutton or a checkbox
                                if (question.DocumentTypeAlias == Templates.SingleChoiceQuestionTemplate)
                                {
                                    <label id="radioQuestion" class="btn btn-primary customBtn customMenuItem">
                                        <input type="radio" name="@question.Id" value="@answer.Id"> @answer.Answer
                                    </label>

                                }
                                else if (question.DocumentTypeAlias == Templates.MultipleChoiceQuestionTemplate)
                                {
                                    <label id="checkQuestion" class="btn btn-primary customBtn customMenuItem">
                                        <input type="checkbox" name="@question.Id" value="@answer.Id"> @answer.Answer
                                    </label>                                  
                                }
                            }
                        }
                       
                    </div>
                </div>
            </fieldset>
            <br />
        }
        <br/>
        <div id="formErrorMessage" role="alert">
            <script src="~/js/Form.js"></script>
        </div>
        <button type="submit" class="btn btn-secondary background-red">Fragebogen zur Korrektur geben</button>
    </form>
}