@inherits UmbracoTemplatePage
@using ELearning.Models
@using Our.Umbraco.Ditto
@{
    Layout = "Master.cshtml";
    var viewModel = Model.Content.As<Module>();
}

<h2>
    @viewModel.Name
</h2>
@viewModel.Description
@if (viewModel.Videos.Any())
{
    <p>
        <h3>
            Zugehörige Lerninhalte (@viewModel.Videos.Count())
        </h3>
        <ul>
            @{
                foreach (var video in viewModel.Videos)
                {
                    <li>
                        <a href="@video.Url">@video.Name</a>
                    </li>
                }
            }
        </ul>
    </p>
}
else
{
    <p>
        <h3>
            Derzeit sind keine Lerninhalte in diesem Modul hinterlegt.
        </h3>
    </p>
}
@if (viewModel.Forms.Any())
{
    <p>
        <h3>
            Zugehörige Wissenstests (@viewModel.Forms.Count())
        </h3>
        <ul>
            @{
                foreach (var form in viewModel.Forms)
                {
                    <li>
                        <a href="@form.Url">@form.Name</a>
                    </li>
                }
            }
        </ul>
    </p>
}
else
{
    <p>
        <h3>
            Derzeit sind keine Wissenstest in diesem Modul hinterlegt.
        </h3>
    </p>
}
@if (viewModel.Users.Any())
{
    <p>
        <h3>
            Ansprechpartner (@viewModel.Users.Count())
        </h3>
        <ul>
            @{
                foreach (var user in viewModel.Users)
                {
                    <li>
                        <a href="@user.Url">@user.Name</a>
                    </li>
                }
            }
        </ul>
    </p>
}
else
{
    <p>
        <h3>
            Derzeit sind keine Ansprechpartner in diesem Modul hinterlegt.
        </h3>
    </p>
}