@inherits UmbracoTemplatePage
@using System.Globalization
@{
    Layout = "Master.cshtml";

    if (CurrentPage._profilePic != null)
    {
        var image = Umbraco.Media(CurrentPage._profilePic);
        <img src="@image.Url" alt="@image.Name" style="width:300px;height:300px" />
    }
}
<p>
    <br/>
    <b>Meine Profilinformationen:</b>
</p>
<p>
    Beigetreten am @Model.Content.CreateDate.ToString("dd. MMMM yyyy", new CultureInfo("de"))
</p>
<p>
    @CurrentPage._profileDescription
</p>
<br/>
<p>
    Zuletzt geändert am @Model.Content.UpdateDate.ToString("dd. MMMM yyyy", new CultureInfo("de")) um @Model.Content.UpdateDate.ToString("HH:mm", new CultureInfo("de"))
</p>